/* Icon Component Styles */

.icon {
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
}

/* Spin animation for loading icons */
.icon-spin {
    animation: icon-spin 1s linear infinite;
}

@keyframes icon-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}